<h1>Questions</h1>

<% @questions.each do |question| %>
  <ul>
    <li><%= markdown(question.title) %>
    | <%= link_to 'Link', question_path(question.id) %>
    | <%= link_to 'Edit', edit_question_path(question) %>
    | <%= link_to 'Delete', question_path(question), method: :delete, data: { confirm: 'Are you sure?' } %>
    </li>
  </ul>
<% end %>

<%= link_to 'Ask New Question', new_question_path %>
